html {
  background: #f5f7f8;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 24px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.write {
  padding: 16px;
  margin: 16px;
}
#message {
  color: green;
}
